.wp-block-overlay {
	display: none;
	background-color: $white;
	position: fixed;
	top: 0;
	left: 0;
	right: 100%;
	bottom: 100%;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	z-index: 1;
	&.is-displayed {
		display: block;
	}
	.wp-block-overlay__wrapper {
		position: relative;
		margin: 20px;
	}

	.wp-block-overlay__header {
		top: 10px;
		position: absolute;
		right: 10px;
		height: 36px;
		width: 36px;
		z-index: 1;
		text-align: right;
		&.is-rtl {
			text-align: left;
		}
	}

	.wp-block-overlay__content {
		position: relative;
		padding: 0;
		padding: 10px 36px; // TODO: is there a scss var
	}

	.wp-block-overlay__close-button {
		padding: 0;
		border: 0;
		cursor: pointer;
	}
}
